/* Styles pour la barre de navigation */
.footer {
  width: 90%;
  height: 280px;
  background-color: #f4fdfd;
  color: rgb(2, 34, 129);
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
  font-family: Balthazar;
  left: 0;
  z-index: 50;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  /* background-color: #0cd8db; */
}

.IconLogo {
  width: 210px;
  height: 65px;
  margin-top: 20px;
}

.footerContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  height: 100%;
  /* background-color: #3e1fc5; */
  justify-content: space-between;
}

.footerLogo {
  font-size: 24px;
  font-weight: bold;
}
.FooterSocialMediaContainer {
  /* background-color: #3f2c95; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-self: center;
  align-content: center;
  align-items: center;
}
.footerLinksContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-self: center;
  align-content: center;
  align-items: center;
}
.iconMedia {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.quick {
  position: relative;
  text-decoration: none;
  font-size: 14px;
}

.quick::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: -1px;
  top: 24px;
  background-color: #0cd8db;
}
.FooterSocialMedia {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  align-self: center;
  align-content: center;
  align-items: center;
}
.footerLink {
  font-size: 18px;
  transition: color 0.2s ease-in-out;
}

/* ###################################################################### */
@media (max-width: 600px) {
  .footer {
    width: 100%;
    height: 170px;
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;

    justify-content: space-between;
  }
  .footerLogo {
    display: flex;
    width: 20%;
  }
  .IconLogo {
    width: 100%;
    height: 30px;
  }
  .footerLinksContainer {
    justify-content: space-between;
    width: 30%;

    font-size: 10px;
    align-items: center;
    /* background-color: #9912c2; */
  }
  .FooterSocialMediaContainer {
    /* background-color: #2c12c2; */

    width: 30%;
    font-size: 10px;
    align-items: center;

    justify-content: space-between;
  }
  .footerContainer {
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 4px;
    display: flex;

    height: 100%;
  }
  .quick::after {
    width: 0%;
  }
  .iconMedia {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .footer {
    width: 100%;
    height: auto;
    background-color: #f4fdfd;
    color: rgb(2, 34, 129);
    bottom: 0;
    font-family: Balthazar;
    left: 0;
    z-index: 50;
  }

  .footerLinksContainer {
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-self: center;
    font-size: 12px;
    align-items: center;

    flex-direction: column;
  }
  .FooterSocialMediaContainer {
    display: flex;
    width: 80%;
    font-size: 12px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
  }
  .footerContainer {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 16px;
    display: flex;

    height: 100%;
  }
  .quick::after {
    width: 0%;
  }
}
