
  .linearGradient {
    height: 48;

    align-self: "center";
    justify-content: "center";
   
    align-items: "center";
    margin-bottom: 20;
    border-radius: 40; 
  }
  .innerContainer {
    border-radius: 15; 
    flex: 1;
    margin: 5;  
    background-color: "#fff";

    justify-content: "center";
  }
  .buttonText {
    font-size: 18;
    font-family: "Gill Sans";
    font-weight: "bold";
    text-align: "center";
    margin: 10;
    color: "#cc2b5e";
    background-color: "transparent";
  }


