.wrapper {
  display: flex;
  align-items: center;

  width: 100%;

  background-image: url("../../assets/vECTORShORI.png");
  background-size: 350px;
  position: relative;
  background-repeat: repeat-x;
  background-position: center center;
  overflow: hidden;
  padding: 0px 20px;
}

.scrollContainer {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollItem {
  min-width: 265px;
  height: 148px;
  background-color: #ffffff;
  border: 1px solid #0cd8db;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
}

.scrollButton {
  width: 48px;
  height: 122px;
  background-color: rgb(217, 217, 217, 0.8);
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  margin: 10px;
}
.imge {
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 0;
}

.scrollButton:first-of-type {
  left: 0;
}

.scrollButton:last-of-type {
  right: 30px;
}
/* ###################################################################### */
@media (max-width: 480px) {
}
/* ###################################################################### */
@media (max-width: 600px) {
  .wrapper {
    width: 100%;

    overflow: hidden;
    background-image: url("../../assets/vECTORShORI.png");
    background-size: 200px;
    padding: 0px 30px;
  }
  .scrollButton {
    width: 30px;
    height: 82px;
  }

  .scrollItem {
    min-width: 135px;
    /* background-color: aquamarine; */
    height: 80px;
  }
  .scrollButton:first-of-type {
    left: -5px;
  }

  .scrollButton:last-of-type {
    right: 52px;
  }
}

/* ###################################################################### */
@media (max-width: 992px) {
}
/* ###################################################################### */
@media (max-width: 1200px) {
}
@media (min-width: 1200px) {
}
/* ###################################################################### */
@media (min-width: 601px) and (max-width: 768px) {
  .wrapper {
    width: 100%;

    overflow: hidden;
    background-image: url("../../assets/vECTORShORI.png");
    background-size: 380px;
    padding: 0px 30px;
  }
  .scrollButton {
    width: 30px;
    height: 82px;
  }

  .scrollItem {
    min-width: 200px;
    height: 120px;
  }
}
