
html,
body {
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
main {
  position: relative;
  z-index: 1; /* Ensure the circles stay above the main content */
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Makes sure the container covers the full height of the viewport */
}

.content-wrapper {
  flex: 1; /* Pushes the footer to the bottom */
}

.footer {
  width: 100%;
  height: 280px;
  background-color: #f4fdfd;
  color: rgb(2, 34, 129);
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-family: Balthazar;
  position: relative;
  z-index: 50;
}
