.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  /* background-color: rgb(108, 15, 15); */

  width: 100%;
}
