.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.5);
  width: 30%;
  height: 300px;
  position: relative;
  justify-content: space-between;
  top: 0;
  border-radius: 50px;
  align-items: center;
  align-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  align-self: center;
  font-family: Balthazar;
}
.cardContainer {
  position: relative;
  width: 300px;
  /* background-color: blue; */

  height: 280px;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.IconLogo {
  width: 70px;
  height: 72px;
  margin-top: 20px;
}

.title {
  font-size: 26px;
  margin-top: 20px;
  align-self: center;
  color: rgb(2, 34, 129);
}

.ServicesDescription {
  font-size: 22px;
  width: 90%;
  text-align: center;
  align-self: center;
  margin: 0 0 10px 0;
}

.ContactButton {
  background-color: white;

  border: #86d8e3 solid 3px;
  width: 150px;
  height: 60px;
  border-radius: 50px;

  font-size: 20px;
  color: rgb(2, 34, 129);
}
.btnContainer {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin: 0 0 10px 0;

  /* background-color: #4e0b0b; */
}
/* ###################################################################### */
@media (max-width: 480px) {
}
/* ###################################################################### */
@media (max-width: 600px) {
  .container {
    width: 40%;
    height: 210px;
  }
  .IconLogo {
    width: 30px;
    height: 30px;
  }
  .title {
    font-size: 16px;
    align-self: center;
    margin: 0 0 8px 0;
  }
  .ServicesDescription {
    font-size: 16px;
    margin: 0 0 8px 0;
  }
  .btnContainer {
    display: flex;

    align-self: center;
    align-items: flex-end;

    margin: 0 0 10px 0;
  }
  .ContactButton {
    width: 100px;
    height: 30px;
    border-width: 1px;
    font-size: 12px;
  }
}

/* ###################################################################### */
@media (max-width: 992px) {
}
/* ###################################################################### */
@media (max-width: 1200px) {
}
@media (min-width: 1200px) {
}
/* ###################################################################### */
@media (min-width: 601px) and (max-width: 768px) {
  .container {
    /* flex: 1 1 100%; */
    width: 40%;
    height: 250px;
  }
  .IconLogo {
    width: 40px;
    height: 42px;
  }
  .title {
    font-size: 18px;
    align-self: center;
    margin: 0 0 10px 0;
  }
  .ServicesDescription {
    font-size: 18px;
    margin: 0 0 10px 0;
  }
  .btnContainer {
    display: flex;

    align-self: center;
    align-items: flex-end;

    margin: 0 0 10px 0;
  }
  .ContactButton {
    width: 120px;
    height: 50px;

    font-size: 16px;
  }
}
