.container {
  width: 100%;
  height: 100%;

  margin-top: 90px;
  display: flex;
  flex: 1;
  /* background-color: rgb(108, 15, 15); */
  /* color: rgb(2, 34, 129); */
  flex-direction: column;
  position: relative;

  top: 0;
  font-family: Balthazar;
}
.HeaderSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-image: url("../../assets/vectors.png");
  background-size: 180px;
  position: relative;

  background-repeat: no-repeat;
  background-position: right bottom;
  overflow: hidden;
}
/* .ServiceSection {
  flex: 1;
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2000px;
  overflow: hidden;
} */

.HeaderContent {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20px;
  /* background-color: rgb(20, 113, 227); */
  /* justify-content: center;
  align-items: center; */
}
.RobotLogo {
  width: 30%;
  height: 25%;
  /* background-color: rgb(176, 11, 185); */
}
.IconRobot {
  width: 87%;
  margin-top: 40px;
  height: 550px;
  margin-left: 70px;
}
.ContainerTitle {
  display: flex;
  width: 110%;
  height: 101px;
  border-radius: 50px;
  margin-top: 145px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #ffdec5 0%, #f9d7f1 50%, #dffbff 100%);
}

.ServiceTitle {
  font-size: 40px;
  align-self: center;
  color: rgb(2, 34, 129);
}
.AboutTitle {
  font-size: 40px;
  align-self: center;
  color: rgb(2, 34, 129);
}
.PartnersTitle {
  font-size: 40px;
  align-self: center;
  color: rgb(2, 34, 129);
}
.Containerdesc {
  display: flex;
  width: 800px;
  height: 101px;
  border-radius: 50px;
  margin-top: 75px;
  margin-left: 15px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.HeaderDescription {
  font-size: 40px;
  /* background-color: rgbnn(176, 11, 185); */
}

.ServicesDescription {
  font-size: 26px;
  width: 80%;
  text-align: center;
  align-self: center;
  /* margin-bottom: 50px; */
}
.PartnersDescription {
  font-size: 26px;
  width: 80%;
  text-align: center;
  align-self: center;
  /* margin-bottom: 50px; */
}
.AboutDescription {
  font-size: 26px;
  width: 80%;
  text-align: center;
  align-self: center;
  margin-bottom: 50px;
}
.HeaderTitle {
  font-size: 48px;
  color: rgb(2, 34, 129);
}
.ContactButton {
  background-color: white;

  border: #86d8e3 solid 3px;
  width: 150px;
  height: 60px;
  border-radius: 50px;

  font-size: 20px;
  color: rgb(2, 34, 129);
  margin-top: 30px;
}
/* .ContactButton:hover {
  background-color: #86D8E3;
}; */
.ContainerButton {
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-right: 17%;
}
.lineAbout {
  height: 7px;
  width: 65%;
  display: block;
  background: #ff8a00;
  align-self: flex-start;
  align-items: start;

  border-radius: 50px;
}
.lineService {
  height: 7px;
  width: 65%;
  display: block;
  background: #f9d7f1;
  align-self: flex-start;
  align-items: start;

  border-radius: 50px;
}
.linePartners {
  height: 7px;
  width: 65%;
  display: block;
  background: #86d8e3;
  align-self: flex-end;
  align-items: start;

  border-radius: 50px;
}
.ServiceCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.PartnersSection {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../../assets/vectors.png");
  background-size: 180px;
  position: relative;

  background-repeat: no-repeat;
  background-position: left bottom;
  overflow: hidden;
  padding: 50px 20px; /* Padding to ensure spacing for images and content */
}
.ServiceSection {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../../assets/vectors.png");
  background-size: 180px;
  position: relative;

  background-repeat: no-repeat;
  background-position: right bottom;
  overflow: hidden;
  padding: 50px 20px; /* Padding to ensure spacing for images and content */
}

.ServiceSection::before,
.ServiceSection::after {
  content: "";
  background-image: url("../../assets/vectors.png");
  background-size: 180px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1; /* Ensure the images are behind the cards */
  width: 200px; /* Adjust based on the size of your vector image */
  height: 200px;
}

.ServiceSection::before {
  top: 400px;
  left: -20px;
}

.ServiceSection::after {
  align-self: center;
  top: 600px;
}
.AboutSection {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-self: center;
  justify-content: center;

  height: auto;
}
.About2,
.About3,
.About1,
.About11 {
  display: flex;
  flex-direction: row;
  width: 438px;
  height: 50px;
  align-items: center;
  padding: 4px 8px;
  justify-content: space-between;
  border-radius: 50px;
}
.About1 {
  background-color: #fbe4f5;
}
.About11 {
  background-color: #fbe4f5;
}
.About1::after {
  content: "";
  background-image: url("../../assets/vectors.png");
  background-size: 180px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1; /* Ensure the images are behind the cards */
  width: 180px; /* Adjust based on the size of your vector image */
  height: 200px;
  align-self: center;
  top: 270px;
}
.Description {
  font-size: 22px;
  width: 87%;
}
.About2 {
  background-color: #ffe7d6;
}
.About3 {
  background-color: #d3f5f5;
}
.About11::after {
  content: "";
  background-image: url("../../assets/vectors.png");
  background-size: 180px;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1; /* Ensure the images are behind the cards */
  width: 180px; /* Adjust based on the size of your vector image */
  height: 180px;
  align-self: center;

  top: 100px;
  right: 70px;
}
.AboutUs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  justify-content: space-between;
  align-items: center;
}

.rightHand,
.leftHand {
  /* align-self: self-end; */
  background-color: #bd21dd;
  z-index: -1;
}
.rightHand {
  right: 20px;
  left: -400px;
}
.AboutUs::after {
  content: "";
  display: block;
  background-image: url("../../assets/RightHand.png");
  background-size: 351px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 300px;
  height: 330px;

  align-self: flex-end;
  bottom: 0;
  right: 280px;

  /* background-color: #3a21dd; */
}
.AboutUs::before {
  content: "";
  display: block;
  background-image: url("../../assets/LeftHand.png");
  background-size: 351px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 300px;
  height: 330px;
  align-self: flex-start;
  bottom: 0;
  left: 222px;

  /* background-color: #bd21dd; */
}
